.o_tag {
    @for $size from 1 through length($o-colors) {
        &.o_tag_color_#{$size - 1} {
            $-bg: mix(nth($o-colors, $size), $o-view-background-color, 25%);
            $-color: scale-color(
                nth($o-colors, $size),
                $lightness: 70%,
                $saturation: 100%
            );

            &,
            &::after {
                --background-color: #{$-bg};
                --color: #{$-color};
            }
        }
    }
}
